.modalButton {
    cursor: pointer;
  }
  
  
  /* Modal */
  .Modal-box {
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 500px;
    Height : 620px;
    position: absolute;
  }
  
  .Modal-box .modalContainer {
    max-width: 600px;
    position: relative;
    top: 98%;
    left: 86%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    width: 500px;
    Height : 620px;

  }

  
  .Modal-box .modalRight {
    width: 100%;
  }
  
  .Modal-box .closeBtn {
    position: fixed;
    top: 8px;
    right: 8px;
  }
  
  .Modal-box .content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: .7rem 0rem;
  }
  
  .Modal-box .btnContainer {
    display: flex;
    padding: 1rem 1rem;
  }
  .Modal-box .btnContainer button {
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    /* border: none; */
    border: 1px solid #411b57;
    /* color: #ffffff; */
  }
  
  .Modal-box .btnPrimary {
    background-color: #411b57;
    color: white;
  }
  
  .Modal-box .btnOutline {
    /* background-color: #a76a99; */
    background-color: white;
    color: #411b57;
  }
  
  .Modal-box .bold {
    font-weight: 600;
  }
  .Modal-box .mp-input-div{
      width: 33vw !important;
  }
  .Modal-box .modalTime{
    top: 44%;
    left: 62%;
    height: 250px;
  }

  .Modal-box .MuiFormControl-marginNormal {
    margin-top: 0px;
    margin-bottom: 8px;
  }

  .Modal-box .MuiInput-root {
    width: 27rem;
  }

  .Modal-box .Timer .MuiInput-root {
    width: 12rem;
  }