.mp-outer{
  background-color: #f1f6f9;
}
.mp-violet{
  background-color:#550b7c;
  color:white;
  border-radius: 2rem !important;
}
.mp-input-div{
  width: 50vw !important;
}
.mp-popular{
  font-weight: 500;
  font-size: large;
  margin-right: 5px;
}
.mp-icon{
  background-color: #550b7c !important;
  cursor: pointer;
  color: white !important;
}
.mp-icon:hover{
  color: black !important;
  background-color: #fff !important;
  border-color: #550b7c !important;
}
.mp-top-company .mp-first{
  font-size: 1.3rem;
}
.mp-com-image{
  height: 11rem;
}
.mp-com-flag1{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  /* display: inline-flex; */
  right: 3rem;
  top: 10rem;
  z-index: 3;
}
.mp-com-flag2{
  width: 3rem;
  height: 3rem;
  position: absolute;
  /* display: inline-flex; */
  right: 2rem;
  top: 10rem;
  z-index: 2;
}
.mp-com-flag1 img{
  border-radius: 50%;
  border: 5px solid #fff;
}
.mp-com-flag2 img{
  border-radius: 50%;
  border: 5px solid #fff;
}
.mp-experience{
  font-size: 15px;
  color: grey;
}
.mp-event-button{
  background-color: #550b7c !important;
  cursor: pointer;
  color: white !important;
}
.mp-event-button:hover{
  color: black !important;
  background-color: #fff !important;
  border-color: #550b7c !important;
}
