.profile-dp{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow:  0 0 8px black;
}

.profD-card{
    background-image: linear-gradient(white, #550B7C);
}

.profD-dash{
    align-items: center;
}

.profD-rad{
border-radius: 12px;
}