:root {
    --purple:  #550B7C;
    --white: #ffffff;
    --blue:#0062e3;
    --grey: #80888f;
    --lightGray:#b2b2b2;
    --lightBlue:#1fd0b6;
    --yellow:#ffc100;
    --green:#28a745;
  }